{{> header}}
<main class="w-9/12 mx-auto flex py-8">
    <section class="flex w-4/5">
        {{> sidebar-left}}
        <article class="w-4/5 pr-4">
            <div class="bg-white rounded-md border-1 border-black p-3 shadow-xl cursor-pointer" data-toggle="modal"
                data-target="#exampleModal">
                <label for="" class="flex items-center  cursor-pointer">
                    <img class="rounded-full mr-2 text-white" src="{{user.foto}}" alt="" width="19px" height="19px">
                    <p class="cursor-pointer">{{user.nombres}}</p>
                </label>
                <input class="mt-2 w-full py-1 px-2 focus:outline-none  cursor-pointer"
                    placeholder="¿Cuál es tu pregunta o enlace?" type="text">
            </div>
            {{#each preguntas}}
            <div class="bg-white rounded-md border-1 border-black p-2 shadow-xl mt-4">
                <label for="" class="flex items-center mb-4">
                    <img class="rounded-full mr-2 text-white dropdown-toggle" src="{{this.usuario.foto}}" alt=""
                        width="29px" height="29px">
                    <p>{{this.usuario.nombres}} </p>
                    <p class="text-gray-400"> - {{timestamp this.fecha}}</p>
                </label>
                <div class="w-full">
                    <p class="font-bold pb-0.5">{{this.titulo}}</p>
                    <p>{{this.contenido}}</p>
                </div>
                <div class="flex justify-between pt-2">
                    <div class="flex">
                        <span class="flex items-center pr-2">
                            <i class="fas fa-arrow-circle-up"></i>
                            <p class="pl-2">{{this.votosPositivos}}</p>
                        </span>
                        <span class="flex items-center pr-2">
                            <i class="fas fa-arrow-circle-down"></i>
                            <p class="pl-2">{{this.votosNegativos}}</p>
                        </span>
                        <span class="flex items-center">
                            <i class="far fa-comment-dots"></i>
                            <p class="pl-2">{{this.votantes.length}}</p>
                        </span>
                    </div>
                    <div class="flex items-center">
                        <a href="" onclick="">
                            <i class="fas fa-share pr-4"></i>
                        </a>
                        <i class="fas fa-ellipsis-h"></i>
                    </div>
                </div>
            </div>
            {{/each}}
        </article>
    </section>
    {{> sidebar-right}}
    {{> footer}}
    <script src="/js/hacerPregunta.js"></script>
</main>